@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.247);
}

*::-webkit-scrollbar-track:hover {
  background-color: #dce6e8;
}

*::-webkit-scrollbar-track:active {
  background-color: #dce6e8;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.596);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.796);
}

*::-webkit-scrollbar-thumb:active {
  background-color: gray;
}
